/* navbar */
nav {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(4px);
}
section {
  padding-top: 5rem;
}
#projects,
#penawaran,
#unggulan {
  background-color: #adcdee;
}

/* hero section */
#hero-section {
  background-image: url("../img/image.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  mask-image: linear-gradient(rgba(0, 0, 0, 1) 80%, rgba(0, 0, 0, 0));
}
#hero-section h1 {
  font-size: 40px;
  font-weight: 700;
  margin-top: 7rem;
}
#hero-section p {
  font-size: 20px;
  font-weight: 400;
}
